
/*Registration form*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image: url('https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-color: rgb(92, 92, 202);
}

form{
    display: flex;
    flex-direction: column;
}

.form-body{
    font-family: 'Hina Mincho', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    width: 35%;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    margin-bottom: 50px;
}


label{
    margin-top: 30px;
}

textarea{
    margin-top: 30px;
    resize: none;
}

.submit-btn{
    margin-top: 20px;
    background-color: rgb(69, 224, 69);
    font-size: 1.1rem;
}

input, textarea{
    padding: 10px;
    border: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.domain-options{
    display: flex;
    flex-direction: column;
}

.domain-options div{
    margin-bottom: 10px;
}

.domain-heading{
    margin-bottom: 10px;
}

.source-heading{
    margin-bottom: 10px;
}

.source .radio-options label{
    margin-bottom: 10px;

}

.upper{
    background-color: antiquewhite;
    align-items: center;
    height: 400px;
    width: 500px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
h2 {
    text-shadow: 2px 2px 5px rgb(209, 188, 188);
    color: aliceblue;
  }

  .textMargin{
    text-align: center;
    color: aliceblue;
  }
  .textSize{
      font-size: 20px;
  }
  .upperRegistration{
    background-color: rgb(0, 0, 0, 0.7);
    align-items: center;
    height: 620px;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(104, 98, 98, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;



